<script lang="ts" setup>
import { useMessageStore } from "@/stores/message";

const messageStrore = useMessageStore();
</script>

<template>
  <v-snackbar v-model="messageStrore.isShow" multi-line>
    <v-icon class="pa-5">mdi-alert-box-outline</v-icon
    >{{ messageStrore.message }}

    <template v-slot:actions>
      <v-btn color="red" variant="text" @click="messageStrore.isShow = false">
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>
